<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recipe Book</title>
  </head>
  <body>
    <header>
      <h1>My Recipe Book</h1>
    </header>
    <section id="recipe-form">
      <input type="text" id="recipe-name" placeholder="Recipe Name" required />
      <textarea
        id="recipe-instructions"
        placeholder="Recipe Instructions"
        required
      ></textarea>
      <!-- Event binding lets you listen for and respond to user actions such as keystrokes, mouse movements, clicks, and touches. Difference is that in simple html and angular is the html use onchange and angular is (eventname like change) -->
      <button (click)="addRecipe()">Add Recipe</button>
    </section>
    <section id="recipes-list">
      <ul>
        <li *NgFor="let recipe of recipes" [attr.data-id]="recipe.id">
          <!-- interpolation ma hum single line ya type script code ya javascript code likh sakty ho -->
          <div>{{ recipe.name }}: {{ recipe.instructions }}</div>
          <div class="buttons">
            <button (click)="deleteRecipe(recipe.id)">Delete</button>
            <button (click)="editRecipe(recipe.id)">Edit</button>
          </div>
        </li>
      </ul>
    </section>
  </body>
</html>
